head  
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
body
    nav.navbar.navbar-light.bg-dark
        ul.nav
            li.mr-2
                a.btn.btn-light(href='/users') Home
            li.mr-2
                a.btn.btn-light(href='/users/create') Create user
            li.mr-2
                a.btn.btn-light(href='/products') Product
            li.mr-2
                a.btn.btn-light(href='/cart') Cart
        if user
            .btn.btn-light.disabled= user.name
        else
            a.btn.btn-primary(href='/auth/login') Login
    .container
        block content