html
    head  
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    body
        nav.navbar.navbar-light.bg-light
            ul.d-flex.nav
                li.nav-item.active
                    a.nav-link(href='/users') Home
                li.nav-item
                    a.nav-link(href='/users/create') Create user
                li.nav-item
                    a.nav-link(href='/auth/login') Login
        block content