head  
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
body
    nav.navbar.navbar-light.bg-dark
        ul.nav
            li.mr-2
                a.btn.btn-light(href='/') Home
            li.mr-2
                a.btn.btn-light(href='/products') Product
            li.mr-2
                a.btn.btn-light(href='/cart') Cart
        if user
            .nav.justify-content-end
                a.btn.btn-primary.mr-2(href='/auth/info') Info
                .btn.btn-light.disabled.rounded-pill= user.name
        else
            .nav.justify-content-end
                a.btn.btn-primary.mr-2(href='/auth/logup') Log up
                a.btn.btn-primary(href='/auth/login') Log in
                
    .container
        block content